Options -Indexes

# Protection fichiers sensibles Laravel
<FilesMatch "^(\.env|composer\.(json|lock)|phpunit\.xml|artisan|\.gitignore|\.gitattributes)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
